// !default variables allows customization in several themes

$primary: red !default;
$important: darkred !default;
$warning: pink !default;

$main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !default;
$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !default;
$secondary-font: 'Courier New', Courier, monospace !default;

$box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, .75) !default;

body {
  font-family: $main-font;
}

.box {
  box-sizing: border-box;
  height: 5rem;
  width: 8rem;
  border: 1px solid gray;
  padding: 1rem;
}

.base {
  background-color: $primary;
}
.important {
  background-color: $important;
}
.warning {
  background-color: $warning;
}

.principal-text {
  font-family: $primary-font
}
.secondary-text {
  font-family: $secondary-font
}

.shadow {
  box-shadow: $box-shadow;
}