$primary: blue;
$important: darkblue;
$warning: lightblue;

$primary-font: 'Times New Roman', Times, serif;
$secondary-font: Verdana, Geneva, Tahoma, sans-serif;

$box-shadow: 7px 7px 7px 0 rgba(0, 0, 0, .75) !default;

@import 'theme-global';