$primary: red;
$important: darkred;
$warning: pink;

$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: 'Courier New', Courier, monospace;

$box-shadow: -7px 7px 7px 0 rgba(0, 0, 0, .75);

@import 'theme-global';